# Android Studio / IntelliJ
*.iml
.idea/
.gradle
.gradle-user-home/
.kotlin/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/appInsightsSettings.xml
/.idea/renderAST.xml
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/compiler.xml
/.idea/migrations.xml
/.idea/runConfigurations.xml
/.idea/studiobot.xml
/.idea/AndroidProjectSystem.xml
/.idea/codeStyles/
.externalNativeBuild
.cxx
build/
/app/build/
captures/
.externalNativeBuild/
.apple
.DS_Store
*.hprof
*.apk
!MedTracker.apk
!build-apk.ps1
